*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    margin: 16px 120px;
    

}

nav .menu li a{
    text-decoration: none;
    color: black;
}

.logo{
    width: 139px;
    height: 60px;
}

.menu{
    display: flex;
    gap: 32px;
    list-style-type: none;
    align-items: center;
    font-weight: 500;
    font-size:16px;
}

.btn{

    padding: 12.5px 16px;
    max-width: 250px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    height: 44px;
    background-color: #469165;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}


