*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    margin: 16px 120px;
    

}

nav .menu li a{
    text-decoration: none;
    color: black;
}

.logo{
    width: 139px;
    height: 60px;
}

.menu{
    display: flex;
    gap: 32px;
    list-style-type: none;
    align-items: center;
    font-weight: 500;
    font-size:16px;
}

.btn{

    padding: 12.5px 16px;
    max-width: 250px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    height: 44px;
    background-color: #469165;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
#banner{
    background: url(../assets/hero-bg.png);
}

.banner-content{
    text-align: center;
    padding: 115.5px 120px 179.5px;
}

.banner-content h3{
    margin-top: 115.5px;
    margin-bottom: 16px;
    
    font-size: 16px;
    width: 229px;
    border-radius: 50px;
    color: #469165;
    background-color: white;
    margin: 0 auto;
    padding: 5px;
}

.banner-content h1{
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    color: white;
    margin-bottom: 16px;
    
    
}

.banner-content p{
    
    font-weight: 400px;
    font-size: 18px;
    color: white;
    margin-bottom: 32px;
    
}
.color-green{
    color: #469165;
}

.banner-content div{
    display: flex;
    gap: 16px;
    justify-content: center;
}

#recommendation .section-heading{
    text-align: center;

}
.section-heading h1{
    font-size: 48px;
    margin-top: 50px;
}
.section-heading p{
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 20px;
    color: #627382
    
}

.recommendation-card{
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1536px;
    margin: 44px 120px;
    gap: 44px;
    text-align: center;
}
.card h3{
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: 600;
}

.card p{
    color: #627382;
    margin-bottom: 21.5px;
}





.solution-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1360px;
    
}

 .solution-img{
    width: 600px;
    height: 600px;
}

.solution-way h3{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #469165;
    margin-bottom: 16px;
}

.solution-way h1{

    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    


}

.solution-way .para{
    color: #627382;
    margin-bottom: 40px;
}

.section-content{
    justify-content: center;
    text-align: center;
}


.last-section{
    margin-top: 40px;
}

.section-content{
    padding-top: 80px;
}

.section-content h1{
    font-size: 40px;
}
.section-content p{
    color: #627382;
    margin-bottom: 24px;
    
}
.section-content .btn{
    margin-bottom: 16px;
    box-shadow: 0 6px 50px 0 #0000002a ;
}

footer {
  background-color: #001931;
  padding: 60px 120px 30px;
}

.footer-content {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  max-width: 1360px;
  margin: 0 auto;
}

.footer-content img {
  display: block;
}

.social{
    text-align: center;
}


.social a{
    display: inline-block;
    
}

.footer-content .social p {
  color: white;
  margin-bottom: 12px;
}

.social a img {
  margin: 0 6px;
}

.copywrite {
  color: white;
  text-align: center;
  margin: 40px 0 16px;
}

footer hr {

  width: 80%;
  margin: 80px auto;
  border: 1px solid rgba(255,255,255,0.2);
}


